/* Include Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --bar-height: 60px;
  --primary-color: #333;
  --secondary-color: #e74c3c; /* Red */
  --comfort-color: hsl(49 93 67);
  --growth-color: hsl(215 97 67);
  --text-color: #333;
  --bg-color: #f4f4f4;
  --border-color: #999;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: auto;
  max-width: 50rem;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  word-spacing: 0.1em;
  margin-bottom: 1em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.svg-diagram {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
}

.sticky-container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background: white;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.15);
  border-radius: 0 0 5px 5px;
  z-index: 100;
  gap: 10px;
}

.bar-container {
  --action-position: 20%;
  --comfort-percent: 90%;
  height: var(--bar-height);
  overflow: hidden;
  position: relative;
  border-left: 1px solid
    hsl(from var(--comfort-color) calc(h - 20) calc(s - 20) calc(l - 20));
  border-radius: 5px;
  flex-grow: 1;
}

.bar-container::after {
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: var(--border-color);
  position: absolute;
  z-index: -1;
  transform: translateZ(0);
}

.bar {
  width: calc(100% + 105% - var(--comfort-percent));
  height: 100%;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  transition: transform 2s ease-in-out;
  border-radius: 0 5px 5px 0;
}

.bar.animate {
  transform: translateX(
    calc(var(--action-position) - var(--comfort-percent) + 1px)
  );
}

.comfort-zone,
.growth-zone {
  height: 100%;
}

.comfort-zone {
  width: var(--comfort-percent);
  background: linear-gradient(
    to right,
    hsl(from var(--comfort-color) calc(h - 20) s l),
    var(--comfort-color)
  );
  box-shadow: inset 1rem 0 1rem
    hsl(from var(--comfort-color) calc(h - 20) s l / 0.75);
  border: solid 1px
    hsl(from var(--comfort-color) calc(h - 20) calc(s - 20) calc(l - 10));
  border-width: 1px 0;
}

.growth-zone {
  width: calc(100% - var(--comfort-percent));
  border-left: 1px solid
    hsl(from var(--growth-color) calc(h + 15) calc(s - 50) calc(l - 30) / 0.5);
  background: linear-gradient(
    to right,
    hsl(from var(--growth-color) calc(h - 10) s l),
    var(--growth-color)
  );
  box-shadow: inset -0.5rem 0rem 1rem
    hsl(from var(--growth-color) calc(h + 15) calc(s - 50) calc(l - 30) / 0.5);
}

.action {
  top: 2px;
  bottom: 2px;
  width: 6px;
  position: absolute;
  background-color: var(--secondary-color);
  left: calc(var(--action-position) - 6px);
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
}

.action.visible {
  animation: fadeOut 2s ease-in;
}

.growth-zone-clicked .action {
  background-color: var(--growth-color);
}

.comfort-zone-clicked .action {
  background-color: var(--comfort-color);
}

@keyframes fadeOut {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background-color: rgb(255 255 255 / 0.75);
  animation: rippleEffect 0.6s ease-out;
  pointer-events: none;
}

@keyframes rippleEffect {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.narrative {
  scroll-margin-top: calc(var(--bar-height) + 6rem);
}

.milestone {
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 5px rgb(0 0 0 / 0.5);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fff, rgb(0 0 0 / 0.1));
  position: relative;
  opacity: 0.5;
  scroll-margin-top: calc(var(--bar-height) + 4rem);
}

.milestone + .milestone::after {
  content: "";
  position: absolute;
  top: calc(-2rem - 4.5px);
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  background-color: #ccc;
  height: calc(2rem);
}

.milestone.rejected + .milestone::after {
  content: "🔒";
  font-size: 1.6rem;
  line-height: 2rem;
  width: 2rem;
  background: none;
  text-align: center;
}

.milestone.complete::after {
  background-color: var(--growth-color);
}

.milestone.complete + .milestone,
.milestone:first-child {
  opacity: 1;
}

.milestone.complete {
  border-color: var(--growth-color);
  background: linear-gradient(
    to bottom,
    #fff,
    hsl(from var(--growth-color) h s calc(l + 25))
  );
}

.milestone.complete h3::before {
  content: "✅";
}

.milestone.rejected h3 {
  text-decoration: line-through;
  opacity: 0.5;
}

.milestone.rejected h3::before {
  content: "❌";
}

.actions {
  visibility: hidden;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actions button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.actions button:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1); /* Subtle shadow on hover */
  transform: translateY(-2px);
}

.milestone.complete + .milestone:not(.complete) .actions,
.milestone:first-child:not(.complete) .actions {
  visibility: visible;
}

.cancel-button {
  background-color: var(--comfort-color);
  border: solid 1px
    hsl(from var(--comfort-color) calc(h - 20) calc(s - 20) calc(l - 10));
}
.cancel-button:hover {
  background-color: hsl(from var(--comfort-color) calc(h - 10) s l);
}

.proceed-button {
  background-color: hsl(from var(--growth-color) h s calc(l - 10));
  color: #fff;
  border: 1px solid
    hsl(from var(--growth-color) calc(h + 15) calc(s - 50) calc(l - 30) / 0.5);
}
.proceed-button:hover {
  background-color: hsl(from var(--growth-color) calc(h - 10) s calc(l - 10));
}

.avatar {
  background: url("./sprite.jpeg");
  width: 100px;
  height: 100px;
  background-size: 315px;
}

.avatar.anxious {
  background-position: 0 -2px;
  background-size: 310px;
}

.avatar.neutral {
  background-position: -114px -106px;
}

.avatar.unhappy {
  background-position: -2px -209px;
  background-size: 313px;
}

.avatar.happy {
  background-position: 100px 0;
  background-size: 315px;
}

.avatar.happier {
  background-position: 98px -106px;
  background-size: 314px;
}

.avatar.embarrassed {
  background-position: 101px 102px;
  background-size: 315px;
}

.avatar.happiest {
  background-position: 207px -213px;
  background-size: 315px;
}

.speech-bubble {
  --left: 50px;
  --border-width: 10px;
  --border-color: #ccc;
  --background-color: #fff;
  position: relative;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: calc(var(--border-width) * -2);
  left: var(--left);
  border: var(--border-width) solid transparent;
  border-bottom-color: var(--border-color);
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: calc(var(--border-width) * -2 + 1px);
  left: var(--left);
  border: var(--border-width) solid transparent;
  border-bottom-color: var(--background-color);
}

.end {
  display: none;
}

.complete .end {
  display: block;
}

.end select {
  padding: 0.5em;
}
