.avatar {
  width: 100px;
  height: 100px;
}

.avatar-girl {
  background: url("./girl.jpeg");
  background-size: 315px;
}

.avatar-girl.anxious {
  background-position: 0 -2px;
  background-size: 310px;
}

.avatar-girl.neutral {
  background-position: -114px -106px;
  background-size: 315px;
}

.avatar-girl.unhappy {
  background-position: -2px -209px;
  background-size: 313px;
}

.avatar-girl.happy {
  background-position: 100px 0;
  background-size: 315px;
}

.avatar-girl.happier {
  background-position: 98px -106px;
  background-size: 314px;
}

.avatar-girl.embarrassed {
  background-position: 101px 102px;
  background-size: 315px;
}

.avatar-girl.happiest {
  background-position: 207px -213px;
  background-size: 315px;
}

.avatar-sho {
  background: url("./sho.png");
  background-size: 1200%;
}

.avatar-sho.anxious {
  background-position: -312px 0;
}

.avatar-sho.unhappy {
  background-position: -792px 0;
}

.avatar-sho.neutral {
  background-position: -72px 0;
}

.avatar-sho.embarrassed {
  background-position: -792px 0;
}

.avatar-sho.happy {
  background-position: -552px 0;
}

.avatar-sho.happier {
  background-position: -552px 0;
}

.avatar-sho.happiest {
  background-position: -1032px 0;
}
